{% extends 'base.html' %}
{% load static %}

{% block title %}HOME | TOPARCH - Engineering & Architecture{% endblock %}

{% block body_class %}home-page{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'core/css/index.css' %}">
{% endblock %}

{% block content %}
<section class="hero-architecture">
    <div class="hero-overlay">
        <!-- <img src="/static/core/images/fix 1-01.png" class="static-overlay" alt="Fix 1">
        <img src="/static/core/images/fix 2-01.png" class="static-overlay" alt="Fix 2">

        <img src="/static/core/images/pop up 1-01.png" class="tech-overlay delay-1" alt="Blueprint 1">
        <img src="/static/core/images/pop up 2.1.png" class="tech-overlay delay-2" alt="Blueprint 2">
        <img src="/static/core/images/pop up 2.2-01.png" class="tech-overlay delay-3" alt="Blueprint 3">
        <img src="/static/core/images/pop up 3.1-01.png" class="tech-overlay delay-4" alt="Blueprint 4">
        <img src="/static/core/images/pop up 3.2-01.png" class="tech-overlay delay-5" alt="Blueprint 5">
        <img src="/static/core/images/pop up 4.1-01.png" class="tech-overlay delay-6" alt="Blueprint 6">
        <img src="/static/core/images/pop up 4.2-01.png" class="tech-overlay delay-7" alt="Blueprint 7">
        <img src="/static/core/images/pop up 4.3-01.png" class="tech-overlay delay-8" alt="Blueprint 8">
        <img src="/static/core/images/pop up 5.1-01.png" class="tech-overlay delay-9" alt="Blueprint 9">
        <img src="/static/core/images/pop up 5.2-01.png" class="tech-overlay delay-10" alt="Blueprint 10"> -->
    </div>
    </div>
    <div class="hero-content">
        <h1 class="hero-title">
            <span class="title-small">MAKE YOUR DREAMS</span>
            <span class="title-big">COME TRUE</span>
        </h1>

        <p class="hero-desc">
            Toparch Co., Ltd.<br>
            is the professional design & consultant<br>
            company on architecture, engineering<br>
            and construction management.
        </p>
    </div>
    <!-- <div class="hero-decor-box-1"></div>
    <div class="hero-decor-box-2"></div> 
    <div class="hero-decor-box-3"></div> 
    <div class="hero-decor-box-4"></div>
    <div class="hero-decor-box-5"></div>
    <div class="hero-decor-box-6"></div>
    <div class="hero-decor-box-7"></div>
    <div class="hero-decor-left"></div>
    <div class="hero-decor-right"></div> -->



<script>

</script>
{% endblock %}
