{% extends 'base.html' %}
{% load static %}

{% block title %}HOME | TOPARCH - Engineering & Architecture{% endblock %}

{% block body_class %}home-page{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'core/css/index.css' %}">
{% endblock %}

{% block content %}
<section class="hero-architecture">
    <div class="hero-overlay">

        <img src="/static/core/images/pop up 1.png" class="tech-overlay delay-1" alt="Blueprint 1">

        <img src="/static/core/images/pop up 2.png" class="tech-overlay delay-2" alt="Blueprint 2">
        <img src="/static/core/images/pop up 3.png" class="tech-overlay delay-3" alt="Blueprint 3">

        <img src="/static/core/images/pop up 4.png" class="tech-overlay delay-4" alt="Blueprint 4"> 
        <img src="/static/core/images/pop up 5.png" class="tech-overlay delay-5" alt="Blueprint 5">

        <img src="/static/core/images/pop up 6.png" class="tech-overlay delay-6" alt="Blueprint 6">
        <img src="/static/core/images/pop up 7.png" class="tech-overlay delay-7" alt="Blueprint 7">
        <img src="/static/core/images/pop up 8.png" class="tech-overlay delay-8" alt="Blueprint 8">
        <img src="/static/core/images/pop up 15.png" class="tech-overlay delay-15" alt="Blueprint 15">

        <img src="/static/core/images/pop up 9.png" class="tech-overlay delay-9" alt="Blueprint 9">
        <img src="/static/core/images/pop up 10.png" class="tech-overlay delay-10" alt="Blueprint 10">

        <img src="/static/core/images/pop up 11.png" class="tech-overlay delay-11" alt="Blueprint 11">
        <img src="/static/core/images/pop up 12.png" class="tech-overlay delay-12" alt="Blueprint 12">
        <img src="/static/core/images/pop up 13.png" class="tech-overlay delay-13" alt="Blueprint 13">
        <img src="/static/core/images/pop up 14.png" class="tech-overlay delay-14" alt="Blueprint 14">
        
    </div>
    </div>
    <div class="hero-content">
        <h1 class="hero-title">
            <span class="title-small">MAKE YOUR DREAMS</span>
            <span class="title-big">COME TRUE</span>
        </h1>

        <p class="hero-desc">
            Toparch Co., Ltd.<br>
            is the professional design & consultant<br>
            company on architecture, engineering<br>
            and construction management.
        </p>
    </div>

    <div class="hero-decor-box-1"></div>
    <div class="hero-decor-box-2"></div> 
    <div class="hero-decor-box-3"></div> 
    <div class="hero-decor-box-4"></div>
    <div class="hero-decor-box-5"></div>
    <div class="hero-decor-box-6"></div>
    <div class="hero-decor-box-7"></div>
    <div class="hero-decor-left"></div>
    <div class="hero-decor-right"></div>



<script>

</script>
{% endblock %}
