{% extends 'base.html' %}
{% load static %}

{% block title %}IN FOCUS | TOPARCH{% endblock %}
{% block body_class %}infocus-page{% endblock %}

{% block favicon %}
    <link rel="icon" type="image/x-icon" href="{% static 'core/images/infocus.ico' %}">
{% endblock %}


{% block splash %}
<div id="splash-screen" class="splash-overlay splash-infocus">
    <div class="splash-content">
        <span class="splash-infocus-text ">IN FOCUS</span>
    </div>
</div>
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'core/css/infocus.css' %}">
{% endblock %}

{% block content %}

<div class="container-fluid px-lg-5 py-5">
    <div class="row g-4">
        
        <div class="col-lg-4 sticky-col px-3">
            <div class="sticky-info">
                <h2 class="infocus-header">IN FOCUS<br></h2>
                <div class="description-line my-4"></div>
                <p class="description text-white opacity-75">
                Toparch Co., Ltd. places great importance on attention to detail in every stage of the working process. 
                This meticulous approach enables the company to consistently deliver high-quality outcomes, minimize errors, and prevent potential impacts on project performance.
                Attention to detail is a key competency that elevates work from standard execution to true professionalism.
                </p>
                <p class="description text-white opacity-75">
                    The company is committed to continuously strengthening its expertise in design, 
                construction project management, and practical strategic planning, ensuring efficient 
                operations and driving each project toward the highest level of success in line with defined objectives.
                </p>
            </div>
        </div>

        <div class="col-lg-8 px-3">
             <!-- <div class="infocus-image">
                <img src="/static/core/images/magnifying-glass.png" alt="magnifying glass">
            </div> -->
        </div>
    </div>
</div>
<div class="infocus-spacer"></div>



{% block extra_js %}
<script>
document.addEventListener("splashFinished", () => {

    document.querySelectorAll(".fade-up, .zoom-in")
        .forEach(el => {
            el.classList.add("show");
        });

});
</script>
{% endblock %}




{% endblock %}