{% extends "base.html" %}
{% load static %}

{% block title %}TA STYLE | TOPARCH{% endblock %}
{% block body_class %}ta-style-page{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'core/css/ta_style.css' %}">
{% endblock %}

{% block favicon %}
    <link rel="icon" type="image/x-icon" href="{% static 'core/images/Team.ico' %}">
{% endblock %}


{% block splash %}
<div id="splash-screen" class="splash-overlay splash-ta-style">
    <div class="splash-content">
        <span class="ta">TA</span> 
        <span class="style">STYLE</span>
    </div>
</div>
{% endblock %}


{% block content %}

<div>
<div class="ta-decorations">
    
    <div class="ta-tl-bracket1"></div> 
    <div class="ta-tl-gray-box2"></div>
    <div class="ta-tl-yellow-box3"></div> 
    <div class="ta-tl-black-box4"></div>

    <div class="ta-nl-gray-bracket"></div>


    <div class="ta-bl-bracket"></div> 
    <div class="ta-bl-yellow-box"></div> 
    <div class="ta-bl-gray-box"></div>
    <div class="ta-bl-black-box"></div>

    <div class="ta-br-bracket"></div> 

    <img src="{% static 'core/images/TA-STYLE-กราฟฟิก-01.png' %}" class="ta-graphic-right" alt="TA Graphic">
    
</div>
</div>

<div class="container-fluid px-lg-5 py-5 position-relative" style="z-index: 10;">
    <div class="row g-4">
        
        <div class="col-lg-4 sticky-col px-3">
            <div class="sticky-info ">s
                <h2 class="TA-tital fade-up">TA STYLE<br></h2>
                <div class="description-line my-4 fade-up"></div>
                <p class="description text-white opacity-75 fade-up">
                    Toparch Co., Ltd. is driven by a team of highly qualified professionals from diverse disciplines within the construction industry. 
                    We operate with a strong commitment to collaboration, professionalism, and continuous development.
                </p>
                <p class="description text-white opacity-75 fade-up" >
                    Our corporate culture emphasizes lifelong learning, 
                    creative thinking, and the ability to overcome challenges, 
                    enabling us to deliver work of the highest quality standards while guiding the organization toward stable and sustainable growth.
                </p>
            </div>
        </div>
    </div>
</div> 

{% block extra_js %}
<script>
document.addEventListener("splashFinished", () => {

    document.querySelectorAll(".fade-up, .zoom-in")
        .forEach(el => {
            el.classList.add("show");
        });

});
</script>
{% endblock %}


{% endblock %}
