.splash-infocus-text {
    font-family: 'Chalkduster', cursive;
    font-size: var(--fs-big);
    color: var(--text-primary);
    font-size: clamp(2.6rem, 5vw, 3.6rem);
    letter-spacing: 2px;
    text-transform: uppercase;
}
.splash-infocus {
    background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8));
    background-size: cover;
    background-position: center;
}

.infocus-page .nav-wrapper{
    background:#000;
}
.infocus-header {
    font-size: clamp(0.9rem, 1vw, 1.05rem,1.5rem);
    color: var(--text-primary) !important;
    font-weight: 700;
    letter-spacing: 1px;

}
.description {
    max-width: 40ch; 
    line-height: 1.5;
    margin-bottom: 32px;
    text-align: justify;
    text-justify: inter-character; 
    word-spacing: normal;  
    letter-spacing: -0.35px; 

    hyphens: none;
    -webkit-hyphens: none;
    -ms-hyphens: none;
}
.sticky-info {
    position: sticky;
    top: 120px;
    padding-left: 5px
}

.infocus-image {
    height: 600px;
    overflow: hidden;
}

.infocus-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.description-line {
    width: 60px;
    height: 4px;
    background-color: var( --accent-yellow) ;
    transition: width 0.8s ease;
}

html, body {
    height: auto;
    overflow-x: hidden;
}
.infocus-page {
    position: relative;
    min-height: 100vh;
}

.infocus-page::before {
    content: "";
    position: absolute;
    top: 70px;   
    left: 0;
    right: 0;
    bottom: 0;  
    width: 100%;
    background-image:
    url("/static/core/images/IN-FOCUS.webp");
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    z-index: -1;
    pointer-events: none;
}
.navbar { 
    position: sticky;
    top: 0;
    height: 70px;
    background-color: #000;
    z-index: 1000;
    width: 100%;
}
.infocus-container {
    position: relative;
    z-index: 1;
    max-width: 800px;
    margin: auto;
    padding: 0 24px;
}

@media (max-width: 991px) {

    .infocus-page::before {
        background:
            url("/static/core/images/IN-FOCUS1.webp")
            center / cover no-repeat;
    }
    .inf-decorations {
        display: none; 
    }


}
@media (max-width: 768px) {
    .infocus-page::before {
        background:
            url("/static/core/images/IN-FOCUS1.webp")
            center / cover no-repeat;
    }
    .description {
        max-width: 100%; 
    line-height: 1.5;
    margin-bottom: 32px;
    text-align: justify;
    text-justify: inter-character; 
    word-spacing: normal;  
    letter-spacing: -0.35px; 

    hyphens: none;
    -webkit-hyphens: none;
    -ms-hyphens: none;
    }
}

@media (max-width: 425px) {

    .infocus-page::before {
        top: 55px;
        background:
            url("/static/core/images/IN-FOCUS1.webp")
            center / cover no-repeat;
    }
}

.inf-decorations {
    position: absolute;
    top: 70px; 
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0; 
    pointer-events: none; 
    overflow: hidden;
}

.inf-tl-yellow-bracket {
    position: absolute;
    top: 18px;
    left: 0;
    width: 510px;
    height: 560px;
    border-top: 60px solid var(--div-yellow);
    border-left: 39px solid var(--div-yellow);
    z-index: 1;
}
.inf-tl-yellow-box {
    position: absolute;
    top: 18px;
    left: 503px;
    width: 9px;
    height: 106px;
    background-color: var(--div-yellow);
    z-index: 4;
}
.inf-tl-black-box {
    position: absolute;
    top: 38px; 
    left: 15px;
    width: 488px;
    height: 503.5px;
    border-top: 55.5px solid var(--div-black);
    border-left: 23px solid  var(--div-black);
    z-index: 3;
}
.inf-tl-gray-box {
    position: absolute;
    top: 44px;
    left: 434px;
    width: 75px;
    height: 80px;
    background-color: var(--div-light-gray);
    z-index: 1;
}
.inf-tl-gray-bracket{
    position: absolute;
    top: 92px;
    left: 15px;
    width: 23px;
    height: 449px;
    border-bottom: 5px solid var(--div-light-gray);
    border-right: 10px solid var(--div-light-gray);
    z-index: 5;
}


.inf-bl-lgray-bracket {
    position: absolute;
    bottom: 33px;
    left: 251px;
    width: 260px;
    height: 91px;
    border-bottom: 42px solid var(--div-light-gray);
    border-right: 65px solid var(--div-light-gray); 
    z-index: 1;
}
.inf-bl-yellow-box {
    position: absolute;
    bottom: 33px;
    left: 503px;
    width: 8px;
    height: 81px;
    background-color: var(--div-yellow);
    z-index: 3;
}
.inf-bl-black-bracket {
    position: absolute;
    bottom: 56px;
    left: 251px;
    width: 260px;
    height: 57.5px;
    border-bottom: 20px solid var(--div-black);
    border-right: 65px solid var(--div-black); 
    z-index: 2;
}

.inf-r-black-box {
    position: absolute;
    top: 131px;
    right: 0;
    width: 31px;
    height: 479px;
    border-top: 11.5px solid var(--div-black);
    border-right: 21.8px solid var(--div-black);
    z-index: 2;
}

.inf-r-yellow-line {
    position: absolute;
    top: 142px;
    right: 14px; 
    width: 8px;
    height: 451px;
    background-color: var(--div-yellow);
    z-index: 3;
}

.inf-r-gray-box1 {
    position: absolute;
    top: 123px;
    right: 0px;
    width: 31px;
    height: 10px;
    background-color: var(--div-light-gray);
    z-index: 1;
}

.inf-r-gray-box2 {
    position: absolute;
    top: 593px;
    right: 0px;
    width: 39px;
    height: 35px;
    background-color: var(--div-light-gray);
    z-index: 1;
}


