.splash-services-text{
    font-family: 'Chalkduster', cursive;
    font-size: var(--fs-big);
    color: var(--text-primary);
    font-size: clamp(2.6rem, 5vw, 3.6rem);
    letter-spacing: 2px;
    text-transform: uppercase;
}
.splash-services {
    background:
        linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8));
    background-size: cover;
    background-position: center;
}
.description-line {
    width: 60px;
    height: 4px;
    background-color: var(--accent-yellow);
}

.services-page {
    position: relative;
    min-height: 100vh;
}

.services-page::before {
    content: "";
    position: absolute;   
    top: 70px;            
    left: 0;
    right: 0;
    bottom: 0;            
    height: 100%s;
    
    background-image:url("/static/core/images/SERVICE.png"); 
    background-size: cover;
    background-position: center top; 
    background-repeat: no-repeat;
    
    z-index: -1;          
    pointer-events: none; 
}

.services-tital {
    font-size: var(--fs-h2);
    color: var(--text-primary) !important;
    font-weight: 700;
    letter-spacing: 1px;
}


.description{
    max-width:60ch;
    line-height:1.5;
    margin-bottom:32px;
    text-align: justify;
    text-justify: inter-character; 
    word-spacing: normal;  
    letter-spacing: -0.35px; 

    hyphens: none;
    -webkit-hyphens: none;
    -ms-hyphens: none;
}

.services-box {
    width: 100%;
    aspect-ratio: 16/9; 
    background-color: var(--bg-secondary);
    border: 1px solid #333;
    overflow: hidden;
    transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.services-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.7;
    transition: all 0.4s ease;
    aspect-ratio: 3/2;
    overflow: hidden;
    display: block;
}
.services-box:hover img {
    transform: scale(1.1);
    opacity: 1;

}
.services-layout {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 64px;
    position: relative;
}

.services-D{
    color: var(--text-primary) !important;
    text-decoration: none;
    font-size: clamp(16px, 1.2vw + 10px, 20px);
}


.vertical-row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    column-gap: 32px;
    row-gap: 20px;
}
.services-link {
    text-decoration: none;
    display: block;
}

.services-link:hover {
    text-decoration: none;
}
.services-item {
    transition: transform .3s ease;
}

.services-link:hover .project-item {
    transform: translateY(-4px);
}

.services-page a.service_detail-link {
    text-decoration: none !important;
}

@media (max-width: 991px) {
    .services-layout {
        grid-template-columns: 1fr;
        gap: 32px;
    }

    .services-content {
        grid-template-columns: 1fr;
    }

    .sticky-info {
        position: relative;
        top: 0;
    }
    .services-layout::after {
        display: none;
    }

    .services-content {
        border-left: none;
        padding-left: 0;
    }
    .services-grid {
        grid-template-columns: 1fr;
        gap: 30px;
    }
    
    
}

html, body {
    height: auto !important; 
}

body.services-page {
    display: flex !important;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    overflow-x: hidden !important; 
}

body.services-page main {
    flex: 1; 
    width: 100%;
    overflow: visible !important;
}
.services-page {
    overflow: visible !important; 
    display: block; 
}

main {
    overflow: visible !important;
}
.services-page .col-lg-8.px-3 {
    margin-top: 11px; 
}

@media (max-width: 991px) {
    .services-page .col-lg-8.px-3 {
        margin-top: 0; 
    }
    .services-page::before{
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.15), rgba(0,0,0,.15)), 
        url("/static/core/images/SERVICE.png"); 
    }
}

@media (max-width:991px){

    .description{
        max-width:90ch;
        line-height:1.6;
        text-align: justify;
    }

}


@media (max-width:768px){
    .navbar{
        height: 55px;
    }
    .services-page::before{
    top: 55px;
    background-image:
        url("/static/core/images/SERVICE.png"); 
    }
    .description {
        text-align: justify;
        text-justify: inter-character; 
        word-spacing: -0.9px; 
        font-size: 0.92rem; 
        line-height: 1.5;
        -webkit-hyphens: none;
        hyphens: none;
        word-break: normal; 
        overflow-wrap: anywhere;
        width: 100%;
        max-width: 100%;
        margin-bottom: 25px;
    }
}

@supports (-webkit-touch-callout: none) {
@media (max-width: 768px) {
    .navbar{
        height: 55px;
    }
    .services-page::before{
    top: 55px;
    background-image:
        url("/static/core/images/SERVICE.png"); 
    }
    .description {
        text-align: justify;
        text-justify: inter-character; 
        letter-spacing: 0.5px; 
        word-spacing: -1.5px; 
        font-size: 0.92rem;    
        line-height: 1.5;
        -webkit-hyphens: none;
        hyphens: none;
        word-break: normal; 
        overflow-wrap: anywhere;
        width: 100%;
        max-width: 100%;
        margin-bottom: 25px;
    }
    .description::first-line {
        color: #fff;
        font-weight: 500;
    }
}
}

.srv-decorations {
    position: absolute;
    top: 70px; 
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0; 
    pointer-events: none; 
    overflow: hidden;
}


.srv-tl-gray-box {
    position: absolute;
    top: 35.5px;
    left: 39px;
    width: 195px;
    height: 55px; 
    background-color: var(--div-dark-gray);
    z-index: 3;
}

.srv-tl-yellow-bracket {
    position: absolute;
    top: 42px;
    left: 230px; 
    width: 288px;
    height: 50px;
    border-top: 16px solid var(--div-yellow);
    border-right: 20px solid var(--div-yellow);
    z-index: 2;
}

.srv-tl-gray-bracket {
    position: absolute;
    top: 35.5px; 
    left: 230px;;
    width: 296px;
    height: 155px;
    border-top: 15px solid var(--div-light-gray);
    border-right: 17px solid var(--div-light-gray);
    z-index: 1;
}


.srv-ml-g-bracket {
    position: absolute;
    top: 367px;
    left: 346px;
    width: 180px;
    height: 145px;
    border-bottom: 16px solid var(--div-dark-gray);
    border-right: 16px solid var(--div-dark-gray); 
    z-index: 2;
}
.srv-ml-y-bracket {
    position: absolute;
    top: 439px;
    left: 440px;
    width: 70px;
    height: 57px;
    border-bottom: 13px solid var(--div-yellow);
    border-right: 13px solid var(--div-yellow);
    z-index: 1;
}

.srv-bl-gray-vert { 
    position: absolute;
    top: 445px;
    left: 38.5px;
    width: 19.5px;
    height: 457px;
    background-color: var(--div-light-gray);  
    z-index: 1;
}
.srv-bl-yellow-bracket {
    position: absolute;
    bottom: 70px;
    left: 53px;
    width: 160px;
    height: 466px;
    border-left: 16px solid var(--div-yellow);
    border-bottom: 12px solid var(--div-yellow);
    z-index: 2;
}

.srv-bl-gray-box {
    position: absolute;
    bottom: 77px;
    left: 61px;
    width: 173px;
    height: 62px;
    background-color: var(--div-dark-gray);
    z-index: 3;
}


.srv-br-gray-line {
    position: absolute;
    bottom: 70px;
    right: 69px;
    width: 180px;
    height: 14px;
    background-color: var(--div-light-gray);
}

@media (max-width: 991px) {
    .srv-decorations {
        display: none; 
    }

}

@media (max-width:768px){
.navbar{
    height: 55px;
    }
}