

.splash-content {
    display: inline-flex;
    align-items: center; 
    gap: 25px;
}

.splash-content .ta {
    color: #fddb00;
    font-size: 3rem;
    font-weight: 700;
}

.splash-content .style {
    font-family: 'Chalkduster', 'MyChalk', cursive;
    font-size: 3rem;
    color: #c1c1c1;
    line-height: 1; /* กันฟอนต์ลายมือจม */
    
}
.splash-ta-style{
    background:
    linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8));
    background-size: cover;
    background-position: center;
}
.description-line {
    width: 60px;
    height: 4px;
    background-color: #fddb00;
}

.TA-tital {
    font-size: 1.5rem;
    color: #c1c1c1 !important;
    
    font-weight: 700;
    letter-spacing: 1px;

}
.description {
    max-width: 70ch;
    line-height: 1.55;
    margin-bottom: 32px;
    text-align: justify;
    hyphens: auto;
    text-justify: inter-word;
    word-spacing: -0.05em;
    letter-spacing: 0.2px;
}
.row{
    align-items:stretch;
}
.TA-image {
    aspect-ratio: 16 / 9;  
    overflow: hidden;
    position: relative;
    height:100%;
}

.TA-image .carousel-item {
    height: 100%;
}

.TA-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ทำให้การเปลี่ยนรูปแบบ Fade (นุ่มนวล) แทนการเลื่อนข้าง */
.carousel.slide {
    transition: opacity 0.9s ease-in-out;
}
.carousel-indicators{
    position: absolute;
    bottom: 10px;
    margin-bottom: 0;
}

.carousel-indicators [data-bs-target]{
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

/* ปิดอนิเมชั่นเมื่อเอาเมาส์ชี้ (Optional: เพื่อให้หยุดดูรูปได้) */
.TA-image:hover img {
    animation-play-state: paused;
}
/* tablet */
@media (max-width: 991px){
    .description{
        max-width: 120ch;
        line-height: 1.5;
    }
    .TA-image{
        max-width: 600px;
        max-height: 340px;
        margin: 0 auto;
        overflow:hidden;
    }
}
/* มือถือ */
@media (max-width: 768px) {

    .TA-image {
        max-width: 420px;
        max-height: 260px;
        margin: 0 auto;
    }

    .TA-image .carousel-control-prev,
    .TA-image .carousel-control-next {
        top: 40%;
        bottom: auto;
        transform: translateY(-50%);
    }
    
    .TA-image .carousel-indicators {
        bottom: 40px;   /* ปรับเลขได้ เช่น 50px / 60px */
    }
    .description{
        max-width:100ch;
    }
}
/* .infocus-spacer{
    height: 20px;
} */
@media (max-width: 768px) {
    .description{
        max-width: 100%;
        text-align: left;
        line-height: 1.8;
        word-spacing: normal;
        letter-spacing: normal;
        max-width:50ch;
    }
    .TA-image{
    max-width: 50ch;
    margin: 0 auto;
    }
    .TA-image .carousel-control-prev,
    .TA-image .carousel-control-next{
        top: 50%;
        transform: translateY(-50%);
    }

    .TA-image .carousel-indicators{
        bottom: 12px;
    }
    

}

@media (max-width: 425px) {
    .description{
        font-size: 0.95rem;
        line-height: 1.9;
        max-width:100%;
    }
   
}