<div class="projects-grid">

    {% for image in images_set1 %}
    <div class="project-image">
        <div class="project-box">
            <img
                src="{{ image.image.url }}?f_auto,q_auto,w_800"
                alt="{{ image.alt_text|default:project.title }}"
                class="project-thumb"
                data-full="{{ image.image.url }}?f_auto,q_auto,w_1600"
                loading="lazy"
            >
        </div>
    </div>
    {% endfor %}

    {% for image in images_set2 %}
    <div class="project-image">
        <div class="project-box">
            <img
                src="{{ image.image.url }}?f_auto,q_auto,w_800"
                alt="{{ image.alt_text|default:project.title }}"
                class="project-thumb"
                data-full="{{ image.image.url }}?f_auto,q_auto,w_1600"
                loading="lazy"
            >
        </div>
    </div>
    {% endfor %}

</div>