{% if images %}

    {% for image in images %}

        {# 🔥 เปิด block ใหม่ทุก 5 รูป #}
        {% if forloop.counter0|divisibleby:5 %}
            
            {# 👉 ปิดของเก่าก่อน (ยกเว้นรอบแรก) #}
            {% if not forloop.first %}
                </div> <!-- close hero-grid -->
                </div> <!-- close hero-block -->
            {% endif %}

            <div class="hero-block">
                <div class="hero-main">
                    <div class="project-thumb hover-reveal">
                        <img 
                        src="{{ image.image.url }}?f_auto,q_auto,w_1600"
                        class="hover-reveal"
                        data-full="{{ image.image.url }}?f_auto,q_auto,w_1600"
                        loading="lazy"
                        alt="{{ project.title }}"
                        >
                    </div>
                </div>

                <div class="hero-grid">

        {% else %}

            <div class="hero-item">
                <div class="project-thumb ">
                        <img 
                        src="{{ image.image.url }}?f_auto,q_auto,w_800"
                        class="hover-reveal"
                        data-full="{{ image.image.url }}?f_auto,q_auto,w_1600"
                        loading="lazy"
                        alt="{{ project.title }}"
                        >
                    </div>
            </div>

        {% endif %}

        {# 🔥 ปิด block ตอนสุดท้าย #}
        {% if forloop.last %}
                </div> <!-- close hero-grid -->
            </div> <!-- close hero-block -->
        {% endif %}

    {% endfor %}

{% endif %}